/*Reset*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*------------------------------------------------------*/
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	color: #252b42;
	background-color: #fafafa;

	font-weight: 500;
	font-family: Montserrat;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
/*  ---------------------------------------------  */

._container {
	max-width: 1046px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: content-box;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*  --- HEADER ----------------------------- */

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}

.header__logo {
	font-size: 24px;
	font-weight: 700;
	color: inherit;
}

.header__menu {
	margin: 0 0 0 133px;
}

.menu {
	padding: 5px 0;
}

.menu__list {
	display: flex;
	flex-wrap: wrap;
}

.menu__item:not(:last-child) {
	margin: 0 21px 0 0;
}

.menu__link {
	color: #737373;
	font-weight: 600;
	line-height: calc(24 / 14 * 100%);
}

.menu__link:hover {
	text-decoration: underline;
}

@media (max-width: 992px) {
	.header__menu {
		margin: 0 0 0 80px;
	}
}

@media (max-width: 767px) {
	.header__menu {
		margin: 0 0 0 40px;
	}
}

@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}

	.header__menu {
		margin: 0 0 0 20px;
	}

	.menu__link {
		font-size: 18px;
	}
}

/* ------------------- BURGER ------------------------ */

#burger,
.burger {
	display: none;
}

@media screen and (max-width: 767px) {
	#burger:checked + label + div + nav {
		display: block;
	}

	.header__container {
		justify-content: space-between;
	}

	.burger__button {
		display: block;
		background-color: #ff7b47;
		box-shadow: 3px 4px 10px 1px rgba(23, 33, 60, 0.2);
		height: 50px;
		width: 50px;
		position: fixed;
		right: 20px;
		border-radius: 50%;
		z-index: 10;
		text-align: center;
		cursor: pointer;
	}

	.burger__icon {
		position: relative;
		margin-top: 25px;
		width: 30px;
		height: 2px;
		background-color: #17213c;
		display: inline-block;
	}

	.burger__icon::before {
		content: "";
		position: absolute;
		left: 0;
		top: -8px;

		width: 30px;
		height: 2px;
		background-color: #17213c;
		display: inline-block;

		-webkit-transition: all 0.2s;
		transition: all 0.2s;
	}

	.burger__icon::after {
		content: "";
		position: absolute;
		top: 8px;
		left: 0;
		transition: all 0.2s;
		width: 30px;
		height: 2px;
		display: inline-block;
		background-color: #17213c;
	}

	/* rotate */
	#burger:checked + .burger__button .burger__icon {
		background-color: transparent;
	}
	#burger:checked + .burger__button .burger__icon::after {
		top: 0;
		/* -webkit-transform: rotate(-135deg); */
		transform: rotate(-135deg);
	}
	#burger:checked + .burger__button .burger__icon::before {
		top: 0;
		/* -webkit-transform: rotate(135deg); */
		transform: rotate(135deg);
	}

	/* ----------------- ANIMATION ------------------------------------- */

	.navigation__background {
		position: fixed;
		height: 2rem;
		width: 2rem;
		border-radius: 50%;
		top: 30px;
		right: 30px;
		background-image: radial-gradient(#fff, #fabca4);
		z-index: 2;
		transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
	}

	#burger:checked ~ .navigation__background {
		transform: scale(80);
	}

	.header__menu {
		height: 100vh;
		position: fixed;
		display: none;
		z-index: 2000;
		top: 0;
		left: 0;
		width: 0;
		transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	.menu__list {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 100%;

		animation-name: moveInRight;
		animation-duration: 1s;
		animation-timing-function: ease-out;
	}

	@keyframes moveInRight {
		0% {
			left: -200px;
			opacity: 0;
		}
		20% {
			opacity: 0;
		}
		50% {
			left: 30px;
		}
		100% {
			left: 50%;
			opacity: 1;
		}
	}

	.menu__link:link,
	.menu__link:visited {
		font-size: 40px;
		font-weight: 300;
		padding: 1rem 2rem;
		color: #252b42;
		text-decoration: none;
		text-transform: uppercase;
		background-size: 220%;
		transition: all 0.2s;
	}

	.menu__link:hover {
		background-color: #ff7b47;
		border-radius: 2px;
	}
}

/*  --- PAGE ----------------------------- */

.page {
	flex: 1 1 auto;
}

.page__services {
	position: relative;
	z-index: 2;
	margin: -111px 0 0 0;
}

.page__clients:not(:last-child) {
	margin: 0 0 10px 0;
}

/* -----HEADER-BLOCK--------------------- */

.header-block {
	text-align: center;
	letter-spacing: 0.2px;
}

.header-block__title {
	font-size: 40px;
	font-weight: 700;
	line-height: 142%;
}

.header-block__title:not(:last-child) {
	margin: 0 0 10px 0;
}

.header-block__sub-title {
	color: #737373;
	font-weight: 500;
	line-height: 142%;
}

@media (max-width: 992px) {
	.header-block__title {
		font-size: 35px;
	}
}

@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
	}
}

/*  --- MAIN ----------------------------- */

.main-block {
	position: relative;
}

.main-block__body {
	padding: 184px 0 191px 0;
	position: relative;
	z-index: 2;
	max-width: 400px;
}

.main-block__body > *:not(:last-child) {
	margin: 0 0 35px 0;
}

.main-block__title {
	font-size: 58px;
	font-weight: 800;
	letter-spacing: 0.2px;
	line-height: calc(80 / 58 * 100%);
}

.main-block__text {
	color: #737373;
	font-size: 20px;
	line-height: 150%;
}

.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	margin: -10px 0;
}

.main-block__button {
	padding: 5px 36px;
	min-height: 48px;
	border-radius: 37px;

	letter-spacing: 0.2px;
	font-weight: 700;
	line-height: 150%;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 10px 0;
	transition: all 0.3s ease 0s;
}

.main-block__button--orange {
	background: #ff7b47;
	color: #fff;
}

.main-block__button--orange:hover {
	background-color: #fff;
	color: #ff7b47;
}

.main-block__button--border {
	color: #0d5c63;
	border: 1px solid #0d5c63;
}

.main-block__button--border:hover {
	background-color: #0d5c63;
	color: #fff;
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media (max-width: 1300px) {
	.main-block__image img {
		object-position: right;
	}
}

@media (max-width: 992px) {
	.main-block__body {
		padding: 120px 0 191px 0;
	}
}

@media (max-width: 479px) {
	.main-block__body {
		padding: 115px 0 160px 0;
	}

	.main-block__title {
		font-size: 42px;
	}

	.main-block__text {
		color: #585757;
	}

	.main-block__button {
		flex: 1 1 100%;
	}
}

@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}

/*  ------ SERVICES --------------- */

.services__column {
	flex: 0 1 33.333%;
}

.services__item {
	height: 100%;
	background-color: #fff;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	padding: 35px;
}

.item-service--green {
	color: #fff;
	background-color: #0d5c63;
}

.item-service--green .item-service__text {
	color: #fff;
}

.item-service > *:not(:last-child) {
	margin: 0 0 10px 0;
}

.item-service__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
}

.item-service__text {
	color: #737373;
	font-weight: 500;
	line-height: 142%;
	letter-spacing: 0.2px;
}

@media (max-width: 992px) {
	.services__column {
		flex: 0 1 50%;
	}
	.services__column:not(:last-child) {
		margin: 0 0 30px 0;
	}
	.services__column:last-child {
		flex: 1 1 100%;
	}
}

@media (min-width: 670px) {
	.services__body {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	.services__column {
		padding: 0 15px;
	}
}

@media (max-width: 479px) {
	.services__item {
		padding: 25px;
	}
}

/* ----- ADVANTADES ------ */

.advantages {
	padding: 80px 0 0 0;
}

.advantages__header {
	margin: 0 0 50px 0;
}

.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px 30px;
}

.advantages__column {
	padding: 0 15px;
	margin: 0 0 30px 0;
	flex: 0 1 25%;
}

.advantages__item {
	text-align: center;
	background-color: #fff;
	padding: 30px;
	font-weight: 700;
	height: 100%;
}

.advantages__item > *:not(:last-child) {
	margin: 0 0 10px 0;
}

.advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.advantages__value {
	font-size: 40px;
	letter-spacing: 0.2px;
	line-height: 142%;
}

.advantages__text {
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: 150%;
	color: #737373;
}

@media (max-width: 1020px) {
	.advantages__column {
		flex: 0 1 50%;
	}
}

@media (max-width: 992px) {
	.advantages {
		padding: 50px 0;
	}
}

@media (max-width: 767px) {
	.advantages {
		padding: 40px 0;
	}

	.advantages__header {
		margin: 0 0 25px 0;
	}
}

@media (max-width: 560px) {
	.advantages__column {
		flex: 0 1 100%;
	}
}

/* -------- PRACTICE --------- */

.practice {
	padding: 60px 0 80px 0;
}

.practice__header {
	margin: 0px 0px 45px 0px;
}

.practice__body {
	margin: 0 -20px -30px;
	display: flex;
	flex-wrap: wrap;
}

.practice__column {
	padding: 0 20px;
	margin: 0 0 30px 0;
	flex: 0 1 25%;
}

.item-practice {
	background-color: #fff;
	display: flex;
	height: 100%;
	flex-direction: column;
}

.item-practice__content {
	padding: 30px;
	flex: 1 1 auto;
}

.item-practice__link {
	color: inherit;
	display: inline-block;
}

.item-practice__link:hover {
	text-decoration: underline;
}

.item-practice__link:not(:last-child) {
	margin: 0 0 15px 0;
}

.item-practice__title {
	font-size: 16px;
	letter-spacing: 0.1px;
	line-height: 150%;
	font-weight: 700;
}

.item-practice__text {
	color: #737373;
	line-height: 142%;
}

.item-practice__image {
	display: block;
	padding: 0 0 60% 0;
}

@media (max-width: 1040px) {
	.practice__column {
		flex: 0 1 50%;
	}
}

@media (max-width: 993px) {
	.practice {
		padding: 40px 0 80px 0;
	}
}

@media (max-width: 767px) {
	.practice {
		padding: 0px 0px 40px 0px;
	}

	.practice__header {
		margin: 0px 0px 25px 0px;
	}
}

@media (max-width: 630px) {
	.practice__column {
		flex: 0 1 100%;
	}
}

/* ----- WHOWEARE ---------- */

.whoweare {
	padding: 80px 0 130px 0;
	background-color: #fff;
}

.whoweare__header {
	margin: 0 0 100px 0;
}

.whoweare__body {
	display: flex;
	align-items: flex-start;
}

.whoweare__video {
	flex: 0 0 57%;
	position: relative;
	padding: 0 0 42.25% 0;
}

.whoweare__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.whoweare__content {
	flex: 1 1 auto;
	padding: 20px 0 0 121px;
}

.whoweare__title {
	font-size: 40px;
	font-weight: 800;
	line-height: 142%;
	letter-spacing: 0.2px;
}

.whoweare__title:not(:last-child) {
	margin: 0 0 10px 0;
}

.whoweare__text {
	color: #737373;
	line-height: 142%;
}

.whoweare__top:not(:last-child) {
	margin: 0 0 50px 0;
}

.whoweare__item:not(:last-child) {
	margin: 0 0 30px 0;
}

.item-whoweare {
	display: flex;
}

.item-whoweare__icon {
	flex: 0 0 32px;
}

.item-whoweare__body {
	flex: 1 1 auto;
	padding: 0 0 0 20px;
}

.item-whoweare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
}

.item-whoweare__title:not(:last-child) {
	margin: 0 0 5px 0;
}

.item-whoweare__text {
	color: #737373;
	line-height: 142%;

	white-space: nowrap;
	width: 225px;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (max-width: 1080px) {
	.whoweare__content {
		padding: 0px 0 0 50px;
	}
}

@media (max-width: 950px) {
	.whoweare {
		padding: 50px 0 50px 0;
	}

	.whoweare__body {
		flex-direction: column-reverse;
		align-items: stretch;
	}

	.whoweare__header {
		margin: 0 0 30px 0;
	}

	.whoweare__content {
		padding: 0px 0 0 0px;
	}

	.whoweare__video {
		padding: 0 0 56.25% 0;
	}

	.whoweare__video:not(:last-child) {
		margin: 50px 0 0 0;
	}

	.whoweare__title {
		font-size: 24px;
	}
}

@media (max-width: 767px) {
	.whoweare {
		padding: 20px 0 50px 0;
	}

	.whoweare__top:not(:last-child) {
		margin: 0 0 30px 0;
	}

	.whoweare__video:not(:last-child) {
		margin: 30px 0 0 0;
	}
}

/* --- CLIENTS ------------- */

.clients {
	padding: 50px 0;
}

.clients__items {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.clients__item {
	padding: 8px 15px;
	flex: 0 1 16.6667%;
	text-align: center;
	min-width: 140px;
}

.clients__item img {
	max-width: 100%;
}

@media (max-width: 767px) {
	.clients {
		padding: 30px 0;
	}
}

/* --------- SUBSCRIBE -------------- */

.subscribe {
	position: relative;
	padding: 0 0 20px 0;
}

.subscribe::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 77px;
	background: #252b42;
}

.subscribe__body {
	position: relative;
	z-index: 2;
	padding: 30px 50px;
	align-items: center;
	background: #17213c;
	border-radius: 2px;
}

@media (min-width: 1070px) {
	.subscribe__body {
		margin: 0 30px;
	}
}

.subscribe__title {
	font-size: 24px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 0.1px;
	line-height: 133%;
}

@media (max-width: 810px) {
	.subscribe__title {
		margin: 0 0 20px 0;
	}

	.subscribe__body {
		margin: 0 -15px;
		padding: 20px 15px;
	}

	.subscribe__input {
		padding: 0 15px;
	}

	.subscribe__button {
		padding: 0 15px;
	}
}

@media (min-width: 810px) {
	.subscribe__body {
		display: flex;
		justify-content: space-between;
	}

	.subscribe__title {
		max-width: 266px;
	}
}

.subscribe__form {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}

.subscribe__input {
	width: 100%;
	flex: 1 1 auto;
	min-height: 58px;
	padding: 0 20px;

	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	border-radius: 5px 0 0 5px;
	border-right: 0;
	color: #737373;
}

.subscribe__input:focus {
	color: #000;
}

.subscribe__button {
	background: #ff7b47;
	border: 1px solid #e6e6e6;
	border-radius: 0px 5px 5px 0px;
	color: #fff;
	min-height: 58px;
	padding: 0 22px;
	transition: all 0.3s ease 0s;
}

.subscribe__button:hover {
	background: #0d5c63;
}

/*  ------------- GETINTOUCH -------- */

.getintouch {
	padding: 80px 0 136px 0;
}

.getintouch__header {
	margin: 0 0 80px 0;
}

.getintouch__items {
	margin: 0 -15px;
}

.getintouch__item {
	flex: 0 1 33.333%;
}

.item-getintouch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	padding: 50px 15px;
}

.item-getintouch--active {
	background: #252b42;
	color: #fff;
	padding: 80px 15px;
}

.item-getintouch--active .item-getintouch__button {
	color: #fff;
	border: 1px solid #fff;
}

.item-getintouch > *:not(:last-child) {
	margin: 0 0 15px 0;
}

.item-getintouch__emails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.item-getintouch__email {
	color: inherit;
	font-size: 16px;
	font-weight: 600;
	line-height: 150%;
}

.item-getintouch__email:hover {
	text-decoration: underline;
}

.item-getintouch__label {
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
}

.item-getintouch__button {
	min-height: 44px;
	border: 1px solid #ff7b47;
	border-radius: 5px;
	padding: 5px 20px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	font-weight: 600;
	font-size: 14px;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: #ff7b47;

	transition: all 0.3s ease 0s;
}

.item-getintouch__button:hover {
	border: 1px solid #ff7b47;
	background-color: #ff7b47;
	color: #fff;
}

@media (min-width: 992px) {
	.getintouch__items {
		display: flex;
		align-items: center;
		margin: 0;
	}
}

@media (max-width: 992px) {
	.getintouch {
		padding: 50px 0;
	}

	.getintouch__header {
		margin: 0 0 50px 0;
	}

	.item-getintouch--active {
		padding: 50px 15px;
	}
}

@media (max-width: 767px) {
	.getintouch__header {
		margin: 0 0 30px 0;
	}
}

/* --------- CONTACT --------- */

.contact {
	background: #fafafa;
	padding: 42px 0;
}

.contact__content {
	padding: 0 0 20px 0;
}

@media (min-width: 767px) {
	.contact__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.contact__content {
		padding: 0 20px 0 0;
	}
}

.contact__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	letter-spacing: 0.1px;
}

.contact__title:not(:last-child) {
	margin: 0 0 10px 0;
}

.contact__text {
	font-weight: 500;
	font-size: 14px;
	line-height: 142%;
	letter-spacing: 0.2px;
	color: #737373;
}

.contact__button {
	display: flex;
	justify-content: center;
	align-items: center;
	/* text-align: center; */

	min-height: 58px;
	padding: 5px 40px;
	border-radius: 5px;

	font-size: 14px;
	font-weight: bold;
	letter-spacing: 0.2px;
	color: #ffffff;
	background: #ff7b47;
	transition: background-color 0.3s ease 0s;
}

.contact__button:hover {
	/* background-color: #17213c; */
	background-color: #0d5c63;
}

/* ---------- FOOTER --------------- */

.footer__top {
	background: #17213c;
	padding: 35px 0;
}

.footer__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.footer__column {
	padding: 15px 15px;
	flex: 0 1 16.6667%;
}

.footer__column:last-child {
	flex: 0 1 33.334%;
}

@media (max-width: 992px) {
	.footer__column {
		flex: 0 1 25%;
	}
	.footer__column:last-child {
		flex: 1 1 100%;
	}
}

@media (max-width: 767px) {
	.footer__column {
		flex: 0 1 50%;
	}
}

.footer__label {
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	margin: 0 0 20px 0;
}

.menu-footer__item:not(:last-child) {
	margin: 0 0 10px 0;
}

.menu-footer__link {
	display: inline-block;
	color: #fff;
	line-height: 171%;
	letter-spacing: 0.2px;
}

.menu-footer__link:hover {
	text-decoration: underline;
}

.contacts-footer {
	display: flex;
	flex-direction: column;
}

.contacts-footer__item {
	padding: 0 0 0 34px;
	line-height: 142%;
	display: flex;
	align-items: center;
	color: #fff;
	min-height: 30px;
}

.contacts-footer__item:hover {
	text-decoration: underline;
}

.contacts-footer__item:not(:last-child) {
	margin: 0 0 12px 0;
}

.contacts-footer__item--phone {
	background: url(../img/footer/icons/01.svg) 0 0 no-repeat;
}

.contacts-footer__item--map {
	background: url(../img/footer/icons/02.svg) 0 0 no-repeat;
}

.contacts-footer__item--email {
	background: url(../img/footer/icons/03.svg) 0 0 no-repeat;
}

.footer__bottom {
	padding: 25px 0;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__copy {
	color: #737373;
	line-height: 171%;
}

.social {
	display: flex;
	align-items: center;
}
.social__item:not(:last-child) {
	margin: 0 20px 0 0;
}

@media (max-width: 767px) {
	.footer__container {
		flex-direction: column;
	}

	.footer__copy {
		margin: 0 0 15px 0;
		text-align: center;
	}
}
